# Dependências
node_modules/

# Variáveis de ambiente
.env

*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas temporárias
dist/
coverage/
.vscode/
.DS_Store

# Docker override
docker-compose.override.yml

database.db

.DS_Store
Thumbs.db