
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pastas temporárias
dist/
coverage/
.vscode/
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
